@using SchoolManagerWebClient.Models
@model StudentViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<span>
    <h2>First Name</h2>
    <h3>@Model.FirstName</h3>
</span>

<span>
    <h2>Last Name</h2>
    <h3>@Model.LastName</h3>
</span>